<a href="https://colab.research.google.com/github/sangeon22/CodingTest-CodeUp100-Python/blob/main/6022_%5B%EA%B8%B0%EC%B4%88_%EC%9E%85%EC%B6%9C%EB%A0%A5%5D_%EC%97%B0%EC%9B%94%EC%9D%BC_%EC%9E%85%EB%A0%A5%EB%B0%9B%EC%95%84_%EB%82%98%EB%88%84%EC%96%B4_%EC%B6%9C%EB%A0%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 6자리의 연월일(YYMMDD)을 입력받아 나누어 출력해보자.

In [13]:
a = input()
print(a[0:2], a[2:4], a[4:6], sep =' ')

970318
97 03 18