<a href="https://colab.research.google.com/github/sangeon22/CodingTest-CodeUp100-Python/blob/main/6088_%5B%EA%B8%B0%EC%B4%88_%EC%A2%85%ED%95%A9%5D_%EC%88%98_%EB%82%98%EC%97%B4%ED%95%98%EA%B8%B01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
"""
어떤 규칙에 따라 수를 순서대로 나열한 것을 수열(sequences)이라고 한다.

예를 들어
1 4 7 10 13 16 19 22 25 ... 은
1부터 시작해 이전에 만든 수에 3을 더해 다음 수를 만든 수열이다.
이러한 것을 수학에서는 앞뒤 수들의 차이가 같다고 하여

등차(차이가 같다의 한문 말) 수열이라고 한다. (등차수열 : arithmetic progression/sequence)
수열을 알게 된 영일이는 갑자기 궁금해졌다.

"그럼.... 123번째 나오는 수는 뭘까?"

영일이는 프로그램을 만들어 더 큰 수도 자동으로 계산하고 싶어졌다.

시작 값(a), 등차(d), 몇 번째인지를 나타내는 정수(n)가 입력될 때
n번째 수를 출력하는 프로그램을 만들어보자.
"""

'\n어떤 규칙에 따라 수를 순서대로 나열한 것을 수열(sequences)이라고 한다.\n\n예를 들어\n1 4 7 10 13 16 19 22 25 ... 은\n1부터 시작해 이전에 만든 수에 3을 더해 다음 수를 만든 수열이다.\n이러한 것을 수학에서는 앞뒤 수들의 차이가 같다고 하여\n\n등차(차이가 같다의 한문 말) 수열이라고 한다. (등차수열 : arithmetic progression/sequence)\n수열을 알게 된 영일이는 갑자기 궁금해졌다.\n\n"그럼.... 123번째 나오는 수는 뭘까?"\n\n영일이는 프로그램을 만들어 더 큰 수도 자동으로 계산하고 싶어졌다.\n\n시작 값(a), 등차(d), 몇 번째인지를 나타내는 정수(n)가 입력될 때\nn번째 수를 출력하는 프로그램을 만들어보자.\n'

In [11]:
a, d , n = map(int, input().split())
print(a+(n-1)*d)

1 3 5
13

In [35]:
a, d , n = map(int, input().split())
for i in range(1,n):
  a = a+d
print(a)

2 10 100
a=12 , i=1
a=22 , i=2
a=32 , i=3
a=42 , i=4
a=52 , i=5
a=62 , i=6
a=72 , i=7
a=82 , i=8
a=92 , i=9
a=102 , i=10
a=112 , i=11
a=122 , i=12
a=132 , i=13
a=142 , i=14
a=152 , i=15
a=162 , i=16
a=172 , i=17
a=182 , i=18
a=192 , i=19
a=202 , i=20
a=212 , i=21
a=222 , i=22
a=232 , i=23
a=242 , i=24
a=252 , i=25
a=262 , i=26
a=272 , i=27
a=282 , i=28
a=292 , i=29
a=302 , i=30
a=312 , i=31
a=322 , i=32
a=332 , i=33
a=342 , i=34
a=352 , i=35
a=362 , i=36
a=372 , i=37
a=382 , i=38
a=392 , i=39
a=402 , i=40
a=412 , i=41
a=422 , i=42
a=432 , i=43
a=442 , i=44
a=452 , i=45
a=462 , i=46
a=472 , i=47
a=482 , i=48
a=492 , i=49
a=502 , i=50
a=512 , i=51
a=522 , i=52
a=532 , i=53
a=542 , i=54
a=552 , i=55
a=562 , i=56
a=572 , i=57
a=582 , i=58
a=592 , i=59
a=602 , i=60
a=612 , i=61
a=622 , i=62
a=632 , i=63
a=642 , i=64
a=652 , i=65
a=662 , i=66
a=672 , i=67
a=682 , i=68
a=692 , i=69
a=702 , i=70
a=712 , i=71
a=722 , i=72
a=732 , i=73
a=742 , i=74
a=752 , i=75
a=762 , i=76
a=772 , i=77
a=782 , i=78
a=792 , i=79
a=802 , i=80
a=812 , i=81
a=822 , i=82
a=832 , i=83
a=842 , i=84
a=852 , i=85
a=862 , i=86
a=872 , i=87
a=882 , i=88
a=892 , i=89
a=902 , i=90
a=912 , i=91
a=922 , i=92
a=932 , i=93
a=942 , i=94
a=952 , i=95
a=962 , i=96
a=972 , i=97
a=982 , i=98
a=992 , i=99
992