<a href="https://colab.research.google.com/github/sangeon22/CodingTest-CodeUp100-Python/blob/main/6082_%5B%EA%B8%B0%EC%B4%88_%EC%A2%85%ED%95%A9%5D_3_6_9_%EA%B2%8C%EC%9E%84%EC%9D%98_%EC%99%95%EC%9D%B4_%EB%90%98%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 친구들과 함께 3 6 9 게임을 하던 영일이는 잦은 실수 때문에 계속해서 벌칙을 받게 되었다.
# 3 6 9 게임의 왕이 되기 위한 369 마스터 프로그램을 작성해 보자.

# ** 3 6 9 게임은?
# 여러 사람이 순서를 정한 후, 순서대로 수를 부르는 게임이다.
# 만약 3, 6, 9 가 들어간 수를 자신이 불러야 하는 상황이라면, 수를 부르는 대신 "박수(X)" 를 쳐야 한다.
# 33과 같이 3,6,9가 두 번 들어간 수 일때, "짝짝"과 같이 박수를 두 번 치는 형태도 있다.

In [17]:
n = int(input())
for i in range(1,n+1):
  if i%10 == 3 or i%10 == 6 or i%10 == 9:
    print("X", end=" ")
  else:
    print(i, end=" ")

30
1 2 X 4 5 X 7 8 X 10 11 12 X 14 15 X 17 18 X 20 21 22 X 24 25 X 27 28 X 30